# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Trained models
*.pth

# Temporary files
tempCodeRunnerFile.py

# Large datasets (optional)
dataset/train/
dataset/test/

# OS files
.DS_Store
Thumbs.db
